{% extends "main/base.html" %}
{% block content %}
  <div id="main-cont">
    <div id="sider-cont">
      <div class="sider-head">Lekusu</div>
      <div class="nav-head">
          <i class="fas fa-bars"></i>NAVIGATION
      </div>
      <ul>
        <li>
          <a href="#">
            <i class="fas fa-tags"></i>
            Catalog
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-tv"></i>
            Design
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-user"></i>
            Customers
          </a>
          </li>
        <li>
          <a href="#">
            <i class="fas fa-cog"></i>
            System
          </a>
        </li>
      </ul>
    </div>
    <div id="content-cont">
      <div id="header"></div>
      <div id="middle">
      </div>
      <div id="footer">
        Lekusu Inc.
      </div>
    </div>
  </div>
{% endblock %}