{% extends "main/base.html" %}
{% block content %}
  <div id="main-cont">
    <div id="sider-cont">
      <div class="sider-head">Lekusu</div>
      <div class="nav-head">
          <i class="fas fa-bars"></i>NAVIGATION
      </div>
      <ul>
        <li>
          <a href="#">
            <i class="fas fa-tags"></i>
            <span style="flex-grow: 1">Catalog</span>
            <i class="fas fa-chevron-right"></i>
          </a>
          <ul>
            <li>
              <a href="#">
                <i class="fas fa-angle-double-right"></i>
                <span>Azaza</span>
              </a>
              <a href="#">
                <i class="fas fa-angle-double-right"></i>
                <span>Azaza</span>
              </a>
              <a href="#">
                <i class="fas fa-angle-double-right"></i>
                <span>Azaza</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-tv"></i>
            <span style="flex-grow: 1">Design</span>
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-user"></i>
            <span style="flex-grow: 1">Customers</span>
            <i class="fas fa-chevron-right"></i>
          </a>
          </li>
        <li>
          <a href="#">
            <i class="fas fa-cog"></i>
            <span style="flex-grow: 1">System</span>
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>
    <div id="content-cont">
      <div id="header"></div>
      <div id="middle">
      </div>
      <div id="footer">
        Lekusu Inc.
      </div>
    </div>
  </div>
{% endblock %}