#main-cont {
  height: 100vh;
  background-color: #ccc;
  display: flex;
  flex-direction: row;
}

#sider-cont {
  width: 235px;
  background-color: #242d37;
}

#content-cont {
  background-color: #f6f6f6;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#header {
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px #ababab;
}

#middle {
  flex-grow: 1;
  overflow-y: auto;
}

#footer {
  border-top: 1px solid rgb(202, 202, 202);
  color: #545454;
  text-align: center;
  padding: 5px;
  font-size: 12px;
}

.sider-head {
  height: 60px;
  display: flex;
  color: #f6f6f6;
  font-size: 36px;
  border-bottom: 1px solid rgb(145, 145, 145);
  justify-content: center;
}

.nav-head {
  font-size: 13px;
  padding: 15px;
  /* display: flex; */
  background-color: #19222e;
  color: #FFFFFF;
  /* justify-content: center; */
}

#sider-cont i.fas {
  margin-right: 10px;
}

#sider-cont ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sider-cont ul li a{
  color: #b3cbdd;
  padding: 10px;
  display: block;
  font-size: 13px;
  border-bottom: 1px solid #2b3642;
  text-decoration: none;
  display: flex;
  align-items: baseline;
}

#sider-cont li ul {
  background-color: #293141;
}

#sider-cont li ul li a {
  color: #7f8a9b;
  padding: 10px;
  padding-left: 20px;
  display: block;
  font-size: 13px;
  border-bottom: none;
  text-decoration: none;
  display: flex;
  align-items: baseline;
}

#sider-cont li ul {
  display: none;
}

#sider-cont li.open ul {
  display: block;
}

#sider-cont li ul li a span {
  transition: all .3s ease;
}

#sider-cont li ul li a:hover span {
  padding-left: 5px;
}

#sider-cont li.open .fa-chevron-right{
  transform: rotate(90deg);
}